[Unit]
Description=AN Discord bot service

[Service]
Type=simple
User=dell
ExecStart=python3 /home/dell/Match_Update/bot.py
Restart=on-failure

[Install]
WantedBy=multi-user.target
